@media (max-aspect-ratio: 1145/770) {
    .stepTree {
        background-color: rgba(25,51,0, 0);
        width: 50%;
        opacity: 100%;
        /*margin-bottom: 100px;*/
        display: flex;
        align-items: center;
        justify-content: center;
        /*padding-right: 50px;*/
        box-sizing: border-box;
        height: 80vh;
        margin: 10vh 0;

    }
}

@media (min-aspect-ratio: 1145/770) {
    .stepTree {
        background-color: rgba(25,51,0, 0);
        width: 60%;
        opacity: 100%;
        /*margin-bottom: 100px;*/
        display: flex;
        align-items: center;
        justify-content: center;
        /*padding-right: 50px;*/
        box-sizing: border-box;
        height: 80vh;
        margin: 10vh 0;

    }
}



.stepTree > * {
    width: 80%;
}
#treetops {
    margin: 0;
    position: relative;
    float: right;
    height: 143vh;
    z-index: 0;
}

#treevid {
    height: 100vh;
    right: 0;
    opacity: 1;
    position: absolute;
    z-index: 2;
    background-color: black;
    display: block;
}


#treevid2 {
    height: 100vh;
    right: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    display: block;
}

#scrollTree {
    position: relative;
    margin-top:0;
    margin-bottom:0;
    border: 0;
}

#container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,0,255,0.2); 
}

