
.stepTree {
	background-color: rgba(25,51,0, 0);
	width: 60%;
    opacity: 100%;
    /*margin-bottom: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-right: 50px;*/
    box-sizing: border-box;
    height: 80vh;
    margin: 10vh 0;

}

.stepTree > * {
    width: 80%;
}
#treetops {
    margin: 0;
    position: relative;
    float: right;
    height: 143vh;
    z-index: 0;
}

#treevid {
    height: 100vh;
    right: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

#scrollTree {
    position: relative;
    margin-top:0;
}

#container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,0,255,0.2); 
}

