
.stepTree {
	/*border: 2px solid rgba(25,51,0, 1);*/
	background-color: rgba(25,51,0, 0);
	width: 50%;
    opacity: 100%;

}


#treetops {
    margin: 0;
    position: relative;
    float: right;
    height: 143vh;
    z-index: 0;
}

#treevid {
    height: 100vh;
    right: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

#scrollTree {
    position: relative;
    margin-top:0;
}


